services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DB_FILE_NAME=/app/data/lp.db
      - PASSWORD=${PASSWORD}
      - APP_USERNAME=${APP_USERNAME}
    volumes:
      - ./data:/app/data
    restart: unless-stopped
